<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión Aeropuerto de Sauce Viejo</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a509a56f8e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/"><img class="logo" src="/images/logoSV.svg" alt="logo"></a>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/clientes}">Clientes</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/ciudades}">Ciudades</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/vuelos}">Vuelos</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" th:href="@{/aviones}">Aviones</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link active" th:href="@{/tasas}">Tasas</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" th:href="@{/tickets}">Tickets</a>
		      </li>
		    </ul>			
		</div>
	</header>
  <div >
	<div class="alert alert-success" role="alert" th:if="${exito}">
        <span th:text="${exito}"></span>
    </div>   
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <span th:text="${error}"></span>
    </div>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio tasa</th>
          <th>% IVA</th>
          <th>Tasa Aeroportuaria Nacional</th>
          <th>Tasa Aeroportuaria Internacional (U$D)</th>
          <th>Cotización dolar</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      
        <tr th:each="tasas : ${tasas}" th:id="${tasas.idTasa}">
          <td th:text="${tasas.nombreCP}"></td>
          <td th:text="${tasas.precioCP}"></td>
          <td th:text="${tasas.iva}"></td>
          <td th:text="${tasas.tasaNacional}"></td>
          <td th:text="${tasas.tasaInternacional}"></td>
          <td th:text="${tasas.cotizacionUSD}"></td>
          <td> 
			 <button id="editBtn" class="btn btn-primary" data-toggle="modal" data-target="#editModal" onclick="editObject(this)">
				 <i class="fa-solid fa-pen-to-square"></i> 
			 </button> 
		  </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Edit modal -->
<div class="modal fade" id="editModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">     
		<div class="modal-header">
	    <h5 class="modal-title" id="editModalLabel">Editar tasa</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
		</div>
		<div class="modal-body">
	    <form id="updateForm">
	        <div class="form-group">
	            <label for="editNombre">Nombre de tasa</label>
	            <input type="text" class="form-control" id="editNombre" placeholder="Nombre de tasa" required>          
	        </div>
	        <div class="form-group">
	            <label for="editPrecio">Precio tasa</label>
	            <input type="number" class="form-control" id="editPrecio" placeholder="Precio de tasa" required>          
	        </div>
	        <div class="form-group">
	            <label for="editIVA">IVA</label>
	            <input type="number" class="form-control" id="editIVA" placeholder="IVA" required>          
	        </div>
	        <div class="form-group">
	            <label for="editTAN">Tasa Aeroportuaria Nacional</label>
	            <input type="number" class="form-control" id="editTAN" placeholder="Tasa Aeroportuaria Nacional" required>          
	        </div>
	        <div class="form-group">
	            <label for="editTAI">Tasa Aeroportuaria Internacional</label>
	            <input type="number" class="form-control" id="editTAI" placeholder="Tasa Aeroportuaria Internacional" required>          
	        </div>
	        <div class="form-group">
	            <label for="editCotizacion">Cotización dolar</label>
	            <input type="number" class="form-control" id="editCotizacion" placeholder="Cotización dolar" required>          
	        </div>        	   
	        <input type="hidden" class="form-control" id="editId">     
	        <button id="modifyBtn" type="submit" class="btn btn-primary btn-lg btn-block">Modificar</button>
	    </form>
	    </div>	 	     
    </div>
  </div>
</div>

<script src="/js/tasas.js"></script>
</body>
</html>
